__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.sqlite3
*.db
media/
staticfiles/
staticfiles.json
venv/
.env
.env.*
.DS_Store
Thumbs.db
.vscode/
.idea/
.cache/
.mypy_cache/
.pytest_cache/
dist/
build/
local_settings.py
